


<h2>search Api</h2>
  method: get
  <a href="/search/check_avaiblity?start_date=10/05/2018&end_date=12/05/2018&room_type=" target="_blank"> Click Here</a>


<h2>Room Types Api</h2>
  method: get
  <a href="/search/get_room_types" target="_blank"> Click Here</a>


<h2>Bookings  Api</h2>
  method: get
  FYI: User should be logged in
  <a href="/bookings.json" target="_blank"> Click Here</a>

<h2>Create Booking Api </h2>
  method: post 
  FYI: should pass user_id, for json call
  <br>
  No Link, please follow User flow
  <!-- <a href="/bookings"></a> -->