
<h1>Listing Bookings</h1>

<table>
  <thead>
    <th>Room No</th>
    <th>Room Type</th>
    <th>Start Date</th>
    <th>End Date</th>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.room.name %></td>
        <td><%= booking.room.room_type.name %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

